{%extends 'main/layout.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все фильмы</title>
</head>
{%block content%}
<div class="features">
    <h4>Все фильмы:</h4>
    {%for i in data%}
    <div class="alert alert-warning">
        {{i.title|upper}}
        <img src="{{i.photo.url}}" alt="Cover image" style="width: 400px; height:
        auto;">
        <p>Жанр: {{i.genre}}. Год выпуска: {{i.year}}. Рейтинг: {{i.rating}}<i
                class="bi bi-star"></i></p>
        <p>{{i.description}}</p>
        <a href="{%url 'film-detail' i.id %}" class="btn btn-warning">Детальная
            информация</a>
    </div>
    {%endfor%}

</div>
{%endblock%}